/* UTILIES */

.img_box {
    height: 125px;
    background-color: rgba(248, 69, 69, 0.5);
}

/* BACKGROUND COLORS */

.bc_darkblue {
    background-color: rgb(11, 21, 77);
}

.bc_blue {
    background-color: rgb(0, 13, 197);
}

/* HEADER */

.main-header .site-brand {
    font-size: 1.5rem;
}

.main-header .site-navbar a.color-link{
    color: #fff;
}